body{
	background: rgb(55, 50, 52);
}

.titleBox {
	color: rgb(245,245,245);
	margin: 0px;
	/*border: 2px solid blue;*/
	text-align: center;
}

.exampleCSS {
	color: rgb(102,204,0);
	font-size: 18px;
}

.bracket {
	color: white;
}

.floatStyles {
	float: left;
	/*border: 3px solid purple;*/
	width: 400px;
	height: 400px;
	padding: 0px 10px;
	margin: 100px 0px 100px 150px;
}

.floatContainer {
	float: left;
	/*border: 3px solid purple;*/
	width: 400px;
	height: 400px;
	/*background: white;*/
		background: rgb(55, 50, 52);
	margin: 100px 100px 100px 0px;
}

#test {
	/*border: 3px dashed green;*/
}
#container{
	/*border: 2px solid purple;*/
	color: rgb(245,245,245);
	margin: 33%;
	padding: 5%;
	text-align: center;
}

.selectedBtn {
	color: rgb(0,102,204);
	font-weight: 600;
}

/*all the styles*/
/* transition works, but it needs to be applied first
then each affect after will animate by 1 sec */
.transitionCSS		{ transition: all 2s				}
.backgroundCSS		{ background: rgb(150,150,150)		}
.colorCSS 			{ color: gold						}
.fontCSS 			{ font-family: 'Lobster', cursive	}
.heightCSS			{ height: 200px						} /*not perfect*/
.widthCSS 			{ width: 200px						} /*not perfect*/
.marginCSS			{ margin: 20px 20px 				} /*not perfect*/
.borderCSS			{ border: 2px dashed rgb(0,102,204)	}
.paddingCSS			{ padding: 35%						}
.opacityCSS 		{ opacity: .5 						}
/* need to figure out what this does*/
.boxCSS				{ box-shadow: 10px 10px 5px black
/*					  -moz-box-shadow: 10px 10px 5px #888888
					  -webkit-box-shadow: 10px 10px 5px #888888*/	}
/* will need to apply text align to the parent of id='target'*/
.textAlignCSS		{ text-align: right 				} /*not perfect*/
.transformCSS		{ text-transform: uppercase			}
.letterSpaceCSS		{ letter-spacing: 10				}


button {
	/*width: 150px;*/
	margin: 0px 0px 0px 5px;
	border: none;
	background: rgb(55, 50, 52);
	text-align: left;
	outline: none;
	font-weight: 600;
	height: 15px;
	line-height: 1;
	color: gray;
}

button:hover {
	/*background: gold;*/
	/*outline: rgb(100,100,100);*/
	text-align: left;
	background: rgba(85, 80, 82, .1);
	/*font-weight: 800;*/
;

