body{
	background: rgb(55, 50, 52);
}

#allContent {
	/*margin: auto;*/ /*should center div in browser*/
	margin: 0px 23.5%;
}

.titleBox {
	color: rgb(245,245,245);
	/*margin: auto;*/
	/*border: 2px solid blue;*/
	text-align: center;
}

.displayHTML {
	color: rgb(102,204,0);
	font-size: 1em;
}

.bracket {
	color: white;
	font-size: 1.2em;
}

.floatSections {
	float: left;
	/*border: 3px solid orange;*/ /* used to test*/
	width: 400px;
	height: 400px;
	padding: 5px;
	/*margin: auto;*/ /*auto does not work with float*/
}

#container{
	/*border: 2px solid purple;*/ /* used to test*/
	color: rgb(245,245,245);
}

/*all the styles*/
/* transition works, but it needs to be applied first
then each affect after will animate by 2 sec */
.transitionCSS		{ transition: all 2s				}
.backgroundCSS		{ background: rgb(150,150,150)		}
.colorCSS 			{ color: gold						}
.fontCSS 			{ font-family: 'Lobster', cursive	}
.heightCSS			{ height: 40px						} 
.lineHeightCSS		{ line-height: 40px					}
.widthCSS 			{ width: 50%						} 
.marginCSS			{ margin: 25% 0px					} 
.borderCSS			{ border: 2px dashed rgb(0,102,204)	}
.paddingCSS			{ padding: 0px 10%					}
.opacityCSS 		{ opacity: .5 						}
.boxCSS				{ box-shadow: 10px 10px 5px black	}
.textAlignCSS		{ text-align: right 				} 
/*needs width for text-align to allow text to shift to a side*/
.transformCSS		{ text-transform: uppercase			}
.letterSpaceCSS		{ letter-spacing: 10				}

.selectedBtn {
	color: rgb(0,102,204);
	font-weight: 600;
}

button {
	/*width: 150px;*/
	margin-left: 5px;
	border: none;
	background: rgb(55, 50, 52);
	outline: none;
	font-weight: 600;
	height: 15px;
	line-height: 1;
	color: gray;
}

button:hover {
	/*outline: rgb(100,100,100);*/
	background: rgba(85, 80, 82, .3);
	/*font-weight: 800;*/
}

